<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fang.sys.dao.UserMapper">
	
	<!-- 实体类 - 数据库映射 -->
	<resultMap id="BaseResultMap" type="com.fang.sys.entity.UserEntity" >
		<id column="id" property="id"  />
		<result column="name" property="name"/>
		<result column="loginName" property="loginName"/>
		<result column="email" property="email"/>
		<result column="mobile" property="mobile"/>
		<result column="password" property="password"/>
		<result column="type" property="type"/>
		<result column="enable" property="enable"/>
		<result column="createBy" property="createBy"/>
		<result column="createById" property="createById"/>
		<result column="createTime" property="createTime"/>
		<result column="lastUpdateBy" property="lastUpdateBy"/>
		<result column="lastUpdateById" property="lastUpdateById"/>
		<result column="lastUpdateTime" property="lastUpdateTime"/>
	</resultMap>
    
    <select id="findUserByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
            name,
            loginName,
            email,
            mobile,
            <!--password,-->
            type,
            id,createBy,createById,createTime,lastUpdateBy,lastUpdateById,lastUpdateTime
        from  sys_user_tbl where  1=1  and enable <![CDATA[<>]]> '1'
        <if test="id != null">
            and id=#{id}
        </if>
        order by createTime desc
    </select>

    <insert id="insertUser" parameterType="com.fang.sys.entity.UserEntity" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
			SELECT LAST_INSERT_ID()
		</selectKey>
        insert into sys_user_tbl(
         name, loginName, email, mobile, password, type,
        enable,createBy,createById,createTime,lastUpdateBy,lastUpdateById,lastUpdateTime)
        values(
         #{name}, #{loginName}, #{email}, #{mobile}, #{password}, #{type},
        #{enable},#{createBy},#{createById},#{createTime},#{lastUpdateBy},#{lastUpdateById},now())
    </insert>

    <update id="updateUser" parameterType="com.fang.sys.entity.UserEntity" >
        update sys_user_tbl set
        <if test="name != null" >
            name = #{name},
        </if>
        <if test="loginName != null">
            loginName = #{loginName},
        </if>
        email = #{email},
        mobile = #{mobile},
        <!--password = #{password},-->
        type = #{type},
        lastUpdateBy=#{lastUpdateBy},lastUpdateById=#{lastUpdateById},lastUpdateTime=now()
        where id = #{id}
    </update>
    
    <update id="updateUserEnable" parameterType="java.util.Map" >
        update sys_user_tbl set
        enable = #{enable},
        lastUpdateBy=#{lastUpdateBy},lastUpdateById=#{lastUpdateById},lastUpdateTime=now()
        where id = #{id}
    </update>

    <delete id="deleteUserById">
        delete from sys_user_tbl 
        where id = #{id}
    </delete>


    <select id="findByLoginname" resultMap="BaseResultMap" parameterType="string">
        select
        	name,
            loginName,
            email,
            mobile,
            password,type,
            id,createBy,createById,createTime,lastUpdateBy,lastUpdateById,lastUpdateTime,enable
        from  sys_user_tbl 
        where loginName = #{loginName} 
        or email = #{loginName}
        or mobile = #{loginName}
    </select>


</mapper>
